body{
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgb(224, 155, 155), rgb(146, 28, 28));
}
form{
    background-color: rgb(252, 252, 252);
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.d-grid{
    /* background-color: aqua; */
    width: 80%;
}
.sda{
    background-color: rgb(85, 0, 101);
    width: 30rem;
    height: 30rem;
}
a{
    width: 100%;
}
.btn{
    width: 100%;
}
.navbar-brand{
    color: white;
}